@font-face {
font-family:'ALS_Hauss';
src: url("../fonts/ALS_Hauss/ALSHauss-Hairline.woff") format("woff");
font-weight:100;
font-style:normal; font-display: swap;
}
@font-face {
font-family:'ALS_Hauss';
src:url("../fonts/ALS_Hauss/ALSHauss-Light.woff") format("woff");
font-weight:200;
font-style:normal; font-display: swap;
}
@font-face {
font-family:'ALS_Hauss';
src:url("../fonts/ALS_Hauss/ALSHauss-Book.woff") format("woff");
font-weight:300;
font-style:normal; font-display: swap;
}
@font-face {
font-family:'ALS_Hauss';
src:url("../fonts/ALS_Hauss/ALSHauss-Regular.woff") format("woff");
font-weight:400;
font-style:normal; font-display: swap;
}
@font-face {
font-family:'ALS_Hauss';
src:url("../fonts/ALS_Hauss/ALSHauss-Medium.woff") format("woff");
font-weight:500;
font-style:normal; font-display: swap;
}
@font-face {
font-family:'ALS_Hauss';
src:url("../fonts/ALS_Hauss/ALSHauss-Bold.woff") format("woff");
font-weight:700;
font-style:normal; font-display: swap;
}
@font-face {
font-family:'ALS_Hauss';
src:url("../fonts/ALS_Hauss/ALSHauss-Black.woff") format("woff");
font-weight:900;
font-style:normal; font-display: swap;
}


@font-face {
font-family:'Navigo';
src:url("../fonts/Navigo/Navigo-Light-Web.eot");
src:url("../fonts/Navigo/Navigo-Light-Web.eot#iefix") format("embedded-opentype"),url("../fonts/Navigo/Navigo-Light-Web.ttf") format("truetype"),url("../fonts/Navigo/Navigo-Light-Web.svg#Navigo Light") format("svg");
font-weight:300;
font-style:normal; font-display: swap;
}
@font-face {
font-family:'Navigo';
src:url("../fonts/Navigo/Navigo-Regular-Web.eot");
src:url("../fonts/Navigo/Navigo-Regular-Web.eot#iefix") format("embedded-opentype"),url("../fonts/Navigo/Navigo-Regular-Web.ttf") format("truetype"),url("../fonts/Navigo/Navigo-Regular-Web.svg#Navigo") format("svg");
font-weight:400;
font-style:normal; font-display: swap;
}
@font-face {
font-family:'Navigo';
src:url("../fonts/Navigo/Navigo-Bold-Web.eot");
src:url("../fonts/Navigo/Navigo-Bold-Web.eot#iefix") format("embedded-opentype"),url("../fonts/Navigo/Navigo-Bold-Web.ttf") format("truetype"),url("../fonts/Navigo/Navigo-Bold-Web.svg#Navigo Bold") format("svg");
font-weight:700;
font-style:normal; font-display: swap;
}
@font-face {
font-family:'Navigo';
src:url("../fonts/Navigo/Navigo-Black-Web.eot");
src:url("../fonts/Navigo/Navigo-Black-Web.eot#iefix") format("embedded-opentype"),url("../fonts/Navigo/Navigo-Black-Web.ttf") format("truetype"),url("../fonts/Navigo/Navigo-Black-Web.svg#Navigo Black") format("svg");
font-weight:900;
font-style:normal; font-display: swap;
}